{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

<div class="row g-3">
	<div class="col-12">
		{{ form_row(form.nom) }}
	</div>
	<div class="col-12">
		{{ form_row(form.email) }}
	</div>
	<div class="col-12">
		{{ form_row(form.grade) }}
	</div>
</div>

<hr class="my-4">

<div class="d-flex justify-content-between align-items-center">
	<a href="{{ path('app_enseignant_index') }}" class="btn btn-outline-secondary">
		<i class="bi bi-arrow-left me-1"></i>Retour
	</a>
	<button type="submit" class="btn btn-gp-primary">
		<i class="{{ button_icon|default('bi-check-lg') }} me-1"></i>
		{{ button_label|default('Enregistrer') }}
	</button>
</div>

{{ form_end(form) }}
